.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul.react-tabs__tab-list {
             display: flex;
           /* margin: 0px 10px; */
}
ul.react-tabs__tab-list li {
   margin-right:10px;
}
.react-tabs__tab.react-tabs__tab--selected {
  color: #4285f5;
  border-bottom: 3px solid #4285f5;
}
ul.react-tabs__tab-list {
  margin: 10px 0px;
}
li.react-tabs__tab {
  color: #000;
}

div#after_login {
  padding-right: 0px!important;
}
div#login_ul ul li a {
  padding: 0px 10px;
  line-height: 8.5;
  font-size: 14px;
}
div#after_login a img {
  position: relative;
  right: 20px;
}

/* ---------------------------------NEW----------------------------------------- */

body {
  margin: 0;
  font-size: 100%;
  padding: 10px;
}

.radiobox__wrapper label:before {
  border-color: #000;
}

.radiobox__wrapper.checked label:before {
  background-color: #000 !important;
}

:global .icon {
  color: #7eb4ef;
}

.my-button {
  font-size: 14px;
}

.my-button__red {
  color: #fff;
  border-radius: 2px;
  background: #ff5a57;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.sub-section-title-wrapper {
  padding: 2%;
}

.sub-section-title {
  background: #7eb4ef;
  color: #fff;
  padding: 30px;
  font-size: 32px;
}

.block {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  padding: 2%;
}
